:root{
    --primary:#8c7a92;
    --secondary:#b0b8c1;
    --accent:#b8aaff;
    --gray:#98a6c0;
    --background:#1d273a;
    --white:#F5F7F8
    --white:#F5F7F8;
    --black:#181a20;
    --text-color:#e0e0e0;
    --link-color:#b8aaff;
    --link-hover-color:#ff8a00;
    --button-bg:#23242b;
    --button-border:#8c7a92;
    
}
